In [6]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
website = 'https://en.wikipedia.org/wiki/List_of_countries_by_the_number_of_billionaires'

In [7]:
data = pd.read_html(website)
page1 = data[1]
page1

,0,1,2,3,4,5
0,Worldrank,Continent,Number ofbillionaires[1],Richest in the continent,Net worth in billions (USD),Date updated
1,–,World,2208,Jeff Bezos,132.8,May 2018
2,1,Asia,719,Ma Huateng,51.1,April 2018
3,2,North America,631,Jeff Bezos,132.8,May 2018
4,3,Europe,559,Bernard Arnault,83.7,May 2018
5,4,South America,85,Jorge Paulo Lemann,29.7,January 2018
6,5,Oceania,35,Gina Rinehart,17.40,2018
7,6,Africa,25,Aliko Dangote,14.1,March 2018